---
---

@import "{{ site.theme }}";
.page-header {
  display: none;
}
.main-content {
padding: 4rem 4rem; 
}

.main-content table td {
padding: 2rem 1rem;
border: none;
}

.main-content table {
margin-top: 4rem;
}
